.sprite-container {
  background-image: url(assets/glow.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.sprite {
  height: 300px;
  image-rendering: pixelated;
  margin: 50px;
}





.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 40px;
  color: black;
}