.sprite-container {
  background-image: url(assets/glow.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.sprite {
  height: 300px;
  image-rendering: pixelated;
  margin: 50px;
}