.sprite-container {
  background-image: url(assets/glow.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fe4e22;
}

.sprite {
  height: 400px;
  image-rendering: pixelated;
  margin: 50px;
}