.settings-title {
  margin: 20px;
  font-size: 40px;
}

.settings-container {
  background-color: #aca165c5;
  border-radius: 20px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.438);
  margin-top: 60px;
  padding: 50px;
  padding-top: 20px;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.setting-header {
  margin: 0;
}

.gen-buttons {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-auto-flow: row;
  row-gap: 25px;
  column-gap: 50px;
  justify-content: center;
  margin: 20px;
}

.check-button, .radio-button {
  transform: scale(1.5);
  accent-color: #FFCB00;
  margin-right: 15px;
}

.difficulty-buttons {
  display: flex;
  gap: 20px;
  margin: 20px;
  justify-content: center;
}

.reset-button {
  width: 150px;
  align-self: center;
}